.about-container {
    top: -50px;
    width: 76%;
    height: 177px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin: 8%;
    position: absolute;
}
.image-container {
    flex: 1;
    text-align: center;
  }
  
  .image-container img {
    max-width: 50%;
    height: auto;
    border-radius: 4px;
  }

  .text-color-grey{
   color:#657478
  }