.about-container {
       width: 76%;
       padding: 9%;
       margin-top: -6%;
   }
.image-container {
    flex: 1;
    text-align: center;
  }
  
  .image-container img {
    max-width: 50%;
    height: auto;
    border-radius: 4px;
  }

  .text-color-grey{
   color:#657478
  }